<%= render 'shared/errors', obj: @article %>

<div class="row"> <!-- Articles CRUD form  -->
  <div class="col-xs-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-8">      
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Write down the article as you want to!" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class:'btn btn-primary' %>
          <%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true, class:'btn btn-danger' %>
        </div>
      </div>
    <% end %> <!-- End loop for the article's form -->
  </div>
</div>