<h1 align="center">List of all articles:</h1>
  
<% @articles.each do |article| %> <!--Loop que percorre a variável @articles -que contém todos os artigos- e exibe em forma de tabela -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure to delete this article?"}, class:"btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>