<h2 align="center"><%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Description</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary"%>
  <%= link_to "Delete article ", article_path(@article), method: :delete,
                                data: { confirm: "Are you sure you want to delete this article?"},
                                class: "btn btn-xs btn-danger"%>
  <%= link_to "Show all articles", articles_path, class:"btn btn-xs btn-success" %>  
  </div>
</div>