$navbar-default-bg: #78d4cf;
//Mudar a cor da barra de navegação.

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#nav_links {
  color: #fff;
}

#nav_links:hover {
  color: #78d4cf;
  background-color: #fff;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('phi-phi-photo.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  letter-spacing: -2px;
}

.btn-signup-jumbotron {
  color: #fff;
  background-color: #78d4cf;
  border: none;
  margin-top: 110px;
}

.btn-signup-jumbotron:hover{
  color: #78d4cf;
  background-color: #fff;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  color: #777;
}

.footer small{
 float: left; 
}

.footer ul{
  float: right;
  list-style: none;
}

.footer ul li{
  float:left;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
font-weight: bold;
font-size: 1.5em;
}

.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}

.description {
  margin-top: 0px;
}