<div class="container">
  <footer class="footer">
    <small>
      Developed by <a href="https://bitbucket.org/matheuscunha97">Matheus Cunha</a>
      while <a href="www.udemy.com">Complete Ruby on Rails Developer Course</a> by <a href="www.mashrurhossain.com">Mashrur Hossain</a>.
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>